.admin-container {
  display: flex;
  height: calc(100vh - 100px);
  overflow: "auto";
  width: 100%;
}
.admin-sidebar {
  width: 240px;
  background: var(--sidebar_background);
  padding: 15px 10px;
}
.admin-content {
  width: calc(100% - 240px);
  padding: 0px 20px;
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 1023px) {
  .admin-container {
    flex-direction: column;
  }
  .admin-content {
    width: 100%;
  }
  .admin-sidebar {
    width: 100%;
  }
}
