.errorPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.errorMessage {
  font-size: 32px;
  color: #dc3545;
  margin-bottom: 20px;
}

.errorDetails {
  font-size: 18px;
  color: #6c757d;
  margin-bottom: 20px;
}

.buttonsWrapper {
  display: flex;
  gap: 20px;
}
