.ordersContent {
  max-height: calc(100vh - 150px);
  width: 100%;
  overflow-y: scroll;
  background-color: var(--popup_background);
}


.table {
  width: 100%;
  background-color: var(--popup_secondary_background);
}

.td {
  border: 1px solid #9b9a9a8e;
  padding: 8px;
}

.title {
  font-size: 24px;
  margin: 20px 0;
}
