.serviseInputsTitle {
    font-size: 20px;
    margin-top: 20px;
    letter-spacing: 2px;
    font-weight: bolder;
    color: var(--color-primary); /* Use primary color for text */
  }
  
  .addServiceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(
      --popup-lite-background
    ); /* Use variable for background */
    width: 100%;
  }
  
  .closeServiceContainer {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    border: 1px solid var(--color-secondary); /* Use hover border color */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .closeServiceContainer svg path {
    stroke: var(--color-secondary);
  }
  .closeServiceContainer:hover svg {
    scale: 1.3;
  }
  
  .serviseInputs {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns of equal width */
    gap: 10px;
    padding: 20px;
    max-height: calc(100vh - 150px);
    width: 100%;
  }
  
  .headerAndAddButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 20px 0;
  }
  
  .servicesContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    padding: 20px;
    background-color: var(--popup_background); /* Use popup background color */
  }
  
  .serviceCard {
    display: flex;
    gap: 10px;
    padding: 8px;
    border: var(--kant_border_color); /* Use variable for card border */
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    background-color: var(--popup_background); /* Use popup background color */
  }
  
  .serviceCardHeader {
    display: flex;
    align-items: center;
  }
  
  .serviceCardHeader h3 {
    color: var(--color-primary); /* Use accent text color */
    font-weight: bolder;
  }
  
  .serviceCardBody {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 14px;
    color: var(--color-primary); /* Use primary color for text */
    max-width: 85%;
    overflow-x: hidden;
  }
  
  .serviceCardBody span {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .spanList {
    color: var(--color-primary); /* Use span color variable */
  }
  
  .serviceCardFooter {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    right: 20px;
    cursor: pointer;
  }
  
  .serviceCardFooter svg path {
    stroke: var(--color-primary); /* Use primary color for svg */
  }
  
  .serviceCardFooter svg:hover {
    scale: 1.1;
  }