.statisticsContainer {
  width: 100%;
  margin: 0 auto;
  height: fit-content;
  padding: 20px;
  background-color: var(--bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(100% - 240px);
}

.statisticsContainer h2 {
  font-size: 2rem;
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.chartSection {
  margin-bottom: 20px;
  padding: 20px;
  background-color: var(--color_head);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.chartSection h3 {
  font-size: 1.5rem;
  color: #444;
  margin-bottom: 10px;
}

.chartWrapper {
  height: 400px;
}

.inputsSection {
  display: flex;
  gap: 20px;
  width: 40%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .statisticsContainer {
    padding: 10px;
  }

  .statisticsContainer h2 {
    font-size: 1.75rem;
  }

  .chartSection h3 {
    font-size: 1.25rem;
  }

  .chartWrapper {
    height: 300px;
  }
}
