.botConfigPage {
  padding: 20px;
  width: calc(100% - 240px);
}

.container {
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border: var(--kant_border_color);
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-primary);
}

.botConfigLayout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.switchWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.75rem;
}

.switchLabel {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  color: #333;
}

.switchWrapper svg {
  width: 50px;
  height: 50px;
}

.switchWrapper svg path {
  fill: var(--color-primary);
}

.saveSection {
  display: flex;
  justify-content: flex-end;
}

.active {
  color: rgb(99, 236, 99);
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}
