.footer {
  background: #3e54ac;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.footerContainer {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.ctaSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: #eeeeee;
}

.ctaTitle {
  color: #eeeeee;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 1;
}

.ctaText {
  color: #eeeeee;
  font-size: 18px;
  margin-bottom: 20px;
}

.ctaButton {
  background-color: #eeeeee;
  color: #3e54ac;
  padding: 12px 24px;
  border-radius: 32px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.ctaButton:hover {
  opacity: 0.6;
}

.contactSection {
  text-align: center;
}

.contactInfo {
  color: #eeeeee;
}

.contactTitle {
  color: #eeeeee;
  font-size: 24px;
  margin-bottom: 10px;
}

.contactPhone {
  color: #eeeeee;
  font-size: 20px;
  margin-bottom: 20px;
}

.socialMediaLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.socialMediaLink {
  font-size: 24px;
  color: #eeeeee;
  fill: #eeeeee;
}
.socialMediaLink path {
  transition: 0.3s ease;
  color: #eeeeee;
  fill: #eeeeee;
}

.socialMediaLink:hover {
  opacity: 0.6;
}

.legalSection {
  text-align: center;
  color: #eeeeee;
}

.legalText {
  color: #eeeeee;
  font-size: 16px;
  margin-bottom: 10px;
}

.legalLinks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.legalLink {
  font-size: 16px;
  color: #eeeeee;
  text-decoration: none;
}

.legalLink:hover {
  opacity: 0.6;
}
