.container {
  display: flex;
  position: relative;
}

.svgcont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2px;
}

.svgcont svg {
  fill: #eeeeee;
}
.svgcont svg path {
  fill: #eeeeee;
}
