/* Registration.module.css */
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.03);
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.formHeader {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
}

.inputField {
  margin-bottom: 15px;
}

.formControl {
  /* background-color: #eeeeee; */
  width: 100%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.addButton {
  background-color: #4caf50;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #45a049;
}

.submitButton {
  padding: 15px;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  color: var(--button_color);
  border: var(--kant_border_color);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease;
}

.submitButton:hover {
  opacity: 0.7;
  /* background: var(--button_color);
  color: var(--color-primary);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); */
}

.submitButton:active {
  background: var(--button_color);
  color: var(--button_background_color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.paymentMethodsList {
  margin-top: 20px;
}

.paymentMethodsList h3 {
  margin-bottom: 10px;
}

.paymentMethodsList p {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
}
